<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <form class="newsletter-register-form">
        <input ng-model="email" type="email" placeholder="Email address" class="newsletter-register-form__input col-xs-12 col-sm-9 col-sm-offset-0 col-md-9" id="NewsletterRegisterInput" aria-label="Enter Email Address" />
        <div class="col-xs-offset-8 col-xs-4 col-sm-3 col-md-3 newsletter-register-form__button">
            <input ng-click="footerEmailSignup(email)" type="submit" class="btn btn--medium" id="NewsletterSignUpButton" value="sign up">
        </div>
    </form>
    <div class="privacy-notice">
        <small>
            By signing up here, you consent to receive marketing emails from us. Our <a href="/about/terms-and-conditions">privacy policy</a> includes information on what data we collect and how we keep it secure.
        </small>
    </div>
</div>